.navbar {
    background-color: #D5E1E9; /* Cor da navbar */
    padding: 15px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar h1 {
    margin: 0;
    font-size: 24px;
    color: #333; /* Cor do texto */
  }