.hero {
  background: url("../../assets/images/banner.png") no-repeat center;
  background-size: contain;
  min-height: 65vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 2.5rem;
}

.home_container h2 {
  text-align: center;
  margin: 2.5rem 0;
}

.home_container h2 a {
  text-decoration: none;
}

.property-list {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.property-list b {
  font-weight: 900;
}
