@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");

.containerInteresse {
  width: 95%;
  margin: 100px auto 50px;
  text-align: center;
  font-family: "Montserrat Alternates", sans-serif;
}

h2 {
  color: #1f2d5d;
  text-align: left;
  margin-bottom: 15px;
}

.tabela-interesses {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.tabela-interesses th,
.tabela-interesses td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.tabela-interesses th {
  background-color: #f4f4f4;
}

.email-normal a {
  color: black;
  font-weight: 500;
}

.email-escuro {
  color: #333;
  font-weight: 600;
}

.btn-acoes {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.mensagem {
  color: #1f2d5d;
  font-size: 18px;
  margin-top: 10px;
  font-weight: bold;
}

.paragraph {
  text-align: center;
  margin-top: 60px;
  font-size: 22px;
}

strong {
  font-size: 22px;
  font-weight: 900;
}
