.form-input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.form-input:focus {
  outline: none;
  border-color: #025ab8;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.file-input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-size: 0px;
}

.file-input::-webkit-file-upload-button {
  padding: 10px;
  margin: -10px 0;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: rgb(240, 240, 240);
  font-size: 16px;
  cursor: pointer;
}

.file-input::-webkit-file-upload-button:hover {
  background-color: #636363;
}
