.footer-container {
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: #d5e1e9;
  padding: 3rem 1rem;
  color: #3e466d;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  text-align: center;
  width: 99.4%;
  height: 100%;
  margin-top: auto;
}

.footer-section {
  flex: 1;
  max-width: 400px;
  text-align: center;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 200px;
  margin: 0 0 10px 0;
}

.logo-text {
  max-width: 250px;
  line-height: 1.5;
  font-size: 14px;
  word-wrap: break-word;
}

.footer-text {
  max-width: 250px;
  text-align: center;
  line-height: 1.8;
  font-size: 14px;
  word-wrap: break-word;
  text-align: left;
}

.contact-section h4,
.hours-section h4 {
  font-size: 1rem;
  margin: 0 auto 2rem auto;
  text-align: left;
  width: 60%;
}

.contact-section p,
.hours-section p {
  margin: 5px auto;
  width: 60%;
  display: block;
  text-align: left;
  font-size: 14px;
}

.contact-section p svg {
  margin-right: 8px;
  color: #2e2e46;
}

.contact-section a {
  color: #2e2e46;
  text-decoration: none;
}

.contact-section a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    padding: 20px;
  }

  .footer-section {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .logo-section {
    align-items: center;
  }
}
